<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

  <section class="vh-100" style="background-color: #9c6f6f;">
    <div class="container-fluid py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">

          <mat-card class="rounded-3">
            <mat-card-content>
              <h4 class="text-center my-3 pb-3">To Do List</h4>

              <form [formGroup]="taskForm" (ngSubmit)="onSubmit()"
                class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                <div class="col-12">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter a task </mat-label>
                    <input matInput placeholder="Ex. Task" value="Buy groceries">
                  </mat-form-field>
                </div>




                <div class="col-12">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Folder </mat-label>
                    <mat-select formControlName="folder">
                      <mat-option *ngFor="let folder of folderList" [value]="folder">{{folder}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-12">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-12">
                  <button mat-raised-button color="primary" type="submit">Save</button>
                </div>
              </form>

              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.number}} </td>
                </ng-container>

                <ng-container matColumnDef="folder">
                  <th mat-header-cell *matHeaderCellDef> Folder </th>
                  <td mat-cell *matCellDef="let element"> {{element.folder}} </td>
                </ng-container>

                <ng-container matColumnDef="task">
                  <th mat-header-cell *matHeaderCellDef> Todo item </th>
                  <td mat-cell *matCellDef="let element"> {{element.task}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="fill">
                      <mat-select [(value)]="element.status" (selectionChange)="updateTaskStatus(element)">
                        <mat-option value="Done">Done</mat-option>
                        <mat-option value="In Progress">In Progress</mat-option>
                        <mat-option value="On Hold">On Hold</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" type="submit" (click)="deleteTask(element)">Delete</button>
                 
                    <button mat-raised-button color="accent" type="submit"(click)="updateTask(element)">Update</button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

</body>

</html>